/* label focus color */
.input-field input:focus + label {
  color: #7986cb !important;
}
/* textarea focus color */
.input-field textarea:focus + label {
  color: #7986cb !important;
}

/* edit label focus color */
#edit .input-field input:focus + label {
  color: #7986cb !important;
}
/* edit textarea focus color */
#edit .input-field textarea:focus + label {
  color: #7986cb !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #7986cb !important;
  box-shadow: 0 1px 0 0 #7986cb !important
}
/* modal focus color */
.modal .input-field input:focus {
  border-bottom: 1px solid #7986cb !important;
  box-shadow: 0 1px 0 0 #7986cb !important
}
/* modal textarea focus  */
.modal .input-field textarea:focus {
  border-bottom: 1px solid #7986cb !important;
  box-shadow: 0 1px 0 0 #7986cb !important
}

#notes-list .active-read {
  background-color: #c5cae9 !important;
}
#notes-list .active-edit {
  background-color: #b2dfdb !important;
}